.btn {
  padding: 6px 15px;
  font-weight: bold;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 14px;

  background: var(--blue);
  color: var(--foreground);
  cursor: pointer;
}
