.Button {
  position: relative;

  outline: none;
  border: none;
  padding: 6px 15px;
  border-radius: 4px;

  background: var(--blue);
  color: var(--foreground);

  font-weight: 900;
  font-size: 14px;

  cursor: pointer;
}

.Button:hover {
  opacity: 0.9;
}
.Button:active {
  top: 1px;
}

.Button.yellow {
  background: var(--yellow);
}

.Button.red {
  background: var(--red);
}
